<?xml version="1.0"?>
<launch>
  <arg name="keeper" default="keeper"/>
  <arg name="speaker" default="speaker"/>

  <include file="$(find tasker)/launch/control_human.launch" >
    <arg name="actor_name" value="$(arg keeper)" />
  </include>
  <include file="$(find tasker)/launch/control_human.launch" >
    <arg name="actor_name" value="$(arg speaker)" />
  </include>
</launch>
