<?xml version="1.0"?>
<launch>
 <!-- Actors -->
  <param name="human_rviz_model" value="file://$(find tasker)/makehuman/Male/male.dae" />
  <!-- Test poses -->
  <arg name="human_height" default="1.5" />
  <arg name="sim_human_pose_1" default="0.6 8.9 $(arg human_height) 0 0 0 1" />
  <arg name="sim_human_pose_2" default="3.5 6.0 $(arg human_height) 0 0 0 1" />
  <arg name="sim_human_pose_3" default="0.9 0.9 $(arg human_height) 0 0 0 1" />
  <arg name="sim_human_pose_4" default="2.95 3.15 $(arg human_height) 0 0 0 1" />
  <arg name="rico_human_pose_1" default="5.8 9.2 $(arg human_height) 0 0 0 1" />
  <arg name="rico_human_pose_2" default="3.6 6.2 $(arg human_height) 0 0 0 1" />
  <arg name="rico_human_pose_3" default="5.0 2.05 $(arg human_height) 0 0 0 1" />

  <!-- Actor 1 -->
  <arg name="human_pose" default="$(arg sim_human_pose_2)" />
  <!-- Publish pose -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="human_publisher" args="$(arg human_pose) map human_pose" />
  <!-- Publish marker for rviz -->
  <node name="human_marker_publisher" pkg="human_interactions" type="publish_human_marker.py" output="screen">
    <param name="topic" value="/human_marker" />
    <param name="pose" value="$(arg human_pose)" />
  </node>

  <!-- Actor 2 -->
  <!-- <arg name="human_pose_2" default="$(arg sim_human_pose_4)" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="human_publisher_2" args="$(arg human_pose) map human_pose_2" />
  <node name="human_marker_publisher_2" pkg="human_interactions" type="publish_human_marker.py" output="screen">
    <param name="topic" value="/human_marker_2" />
    <param name="pose" value="$(arg human_pose_2)" />
    <param name="color" value="0.0 0.0 1.0 1.0" />
  </node> -->
</launch>
