<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Args -->
    <arg name="human_tf" value="human_pose" />
    <!-- Tfs -->
    <param name="robot_base_tf" type="string" value="base_link" />
    <param name="human_tf" type="string" value="$(arg human_tf)" />
    <param name="point_head_tf" type="string" value="/head_controller/point_head_action/tilt_link" />
    <!-- Actions & services -->
    <param name="disable_autohead_action" type="string" value="/pal_head_manager/disable" />
    <param name="move_to_human_action_name" type="string" value="/move_to_human" />
    <param name="move_base_action_name" type="string" value="/move_base" />
    <param name="point_head_action" type="string" value="/head_controller/point_head_action" />
    <!-- Topics -->
    <param name="odometry_topic" type="string" value="/mobile_base_controller/odom" />
    <!-- Constants -->
    <param name="head_rotation_velocity" type="double" value="0.4" />
    <param name="default_distance_from_human" type="double" value="1.0" />
    <!-- Nodes -->
    <node pkg="human_interactions" name="move_to_human_action_server" type="move_to_human_action_server.py" output="screen" />
</launch>
